

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <meta charset="utf-8">
            <title>Create Game</title>
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="container" id="create-page">

            <div class="row">
                <div class="col-12">
                    <h1>Room Code: <%= game_id %></h1>
                </div>
            </div>
            
            <hr>
            <div class="row" id="content">
                <div class="col-6" id="players">
                    <h2>Players</h2>
                    <form action ="" id="map-form">
                        <p id="dynamic-list"></p>
                    </form>
                    <button type="button" class="btn btn-outline-secondary" id="kickBtn">Kick</button>
                </div>

                <div class="col-6" id="maps">
                    <h2>Maps</h2>
                    <form action ="" id="map-form">
                        <ul id="map-list">
                            <li id="map-item"><label><input type="radio" name="map" value="1"> Map 1</label><br></li>
                            <li id="map-item"><label><input type="radio" name="map" value="2"> Map 2<br></label></li>
                        </ul>
                    </form>
                    <button type="button" class="btn btn-outline-secondary" id="playBtn">Play</button>
                </div>
            </div>
            <hr>

        </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        setInterval(() => {

            axios.get('/get-players', {params: {
                game_id: '<%= game_id %>',
            }})
            .then(function (response) {
                console.log(response);
                var data = response.data;
                var ul = document.getElementById("dynamic-list");
                console.log(ul);
                ul.innerHTML = ""
                if(data.names) {
                    for (var i = data.names.length - 1; i >= 0; i--) {
                        addItem(data.names[i].name);
                    }
                }
            })
            .catch(function (error) {
                console.log(error);
            });

        }, 3000);


        function addItem(name){
            var ul = document.getElementById("dynamic-list");
            var li = document.createElement("li");
            var label = document.createElement("label");
            var radio = document.createElement("input");
            li.setAttribute('id', "map-item");
            li.appendChild(label);
            radio.setAttribute("type","radio");
            radio.setAttribute("name","map");
            label.appendChild(radio);
            label.appendChild(document.createTextNode(" "+name));
            ul.appendChild(li);
        }
    </script>
    </body>

</html>