

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <meta charset="utf-8">
            <title></title>
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="container" id="create-page">
            
            <div class="row">
                <div class="col-12">
                    <h1>Room Code</h1>
                </div>
            </div>
            
            <hr>
            <div class="row" id="content">
                <div class="col-6" id="players">
                    <h2>Players</h2>
                </div>

                <div class="col-6" id="maps">
                    <h2>Maps</h2>
                    <form action ="" id="map-form">
                        <ul id="map-list">
                            <li id="map-item"><input type="radio" name="map" value="1"> Map 1<br></li>
                            <li id="map-item"><input type="radio" name="map" value="2"> Map 2<br></li>
                            <li id="map-item"><input type="radio" name="map" value="3"> Map 3<br></li>
                        </ul>
                    </form>
                </div>
            </div>
            <hr>

            <div class="footer">
                <button type="button" class="btn btn-outline-secondary">Play</button>
            </div>

        </div>
    </body>
</html>