<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Werewolf Escape</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<style>
		.div1{
			margin-top: 1em;
		}
		.div2{
			border: 1px solid #bbb;
			margin-bottom: 1em;
			height: 68%;
		}
		.div3{
			border: 1px solid #bbb;
			height: 100%;
		}
	</style>		
  </head>
  <body>
		<div class="main-container" style ="width: 100%">
			<div class="row">
				<div class="col-lg">
					<div class="playerinfo">
						<h4 class="title">Player [number]</h4>
						<br>
						<p>You are a <strong>[role]</strong> </p>
						<p>Game room number <strong>[number]</strong> </p>
						<p>Turn number<strong>[turn]</strong> </p>
					</div>
					<div class="div1">
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum ultricies enim. Cras at pulvinar enim. Suspendisse lacinia semper tristique. Etiam tincidunt nunc non rutrum pretium. Mauris pulvinar mi nec dolor scelerisque blandit. Proin sit amet consectetur est, vel semper justo. Vestibulum sit amet nisl scelerisque orci condimentum faucibus.</p>
					</div>

				</div>
				<div class="col-lg-6">
					<h4 class="title">Map [number]</h4>
					<hr>
					<div class="div2">
					</div>
					<button type="button" class="gbtn btn-outline-secondary">Items</button>
					<button type="button" class="gbtn btn-outline-secondary">Player History</button>
					<button type="button" class="gbtn btn-outline-secondary">Deck</button>
					
					
				</div>
				<div class ="col-lg">
					<div class="div3">
					<br>
					<h6>Game History</h6>

					</div>
					
				</div>
			</div>
			
		</div>

		
		
				
