<!DOCTYPE html>
<html>
  <head>
			<title>Game</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			<style>
			table{
				width: 100%;
			}
			td, th {
				border: 1px solid #dddddd;
    		text-align: center;
				vertical-align: top;
    		padding: 8px;
				width: 25%;
}
			</style>
  </head>
  <body>
			<h1 style="text-align:center;">Player [number]</h1>
			<h3 style="text-align:center;">You are a <strong>[role]</strong> </h3>
			
			<table>
					<tr>
						<th>Chat</th>
						<th style = "width: 50%">Map</th>
						<th>
							<button type = "button">Cards</button><br>
							<br><button type = "button">Deck</button><br>
							<br><button type = "button">History</button><br>
						</th>
					</tr>

	</body>
		
		
				
