<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Werewolf Escape</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<style>
		.div1{
			border: 1px solid #bbb;
			margin-top: 1em;
		}
		.div2{
			border: 1px solid #bbb;
			margin-bottom: 1em;
		}
		.div3{
			border: 1px solid #bbb;
			height: 100%;
		}
	</style>		
  </head>
  <body>
		<div class="main-container" style ="width: 100%">
			<div class="row">
				<div class="col-md">
					<div class="playerinfo">
						<h4 class="title">Player [number]</h4>
						<p>You are a <strong>[role]</strong> </p>
					</div>
					<div class="div1">
					</div>

				</div>
				<div class="col-md-6">
					<h4 class="title">Map [number]</h4>
					<hr>
					<div class="div2">
					</div>
					<button type="button" class="gbtn btn-outline-secondary">Items</button>
					<button type="button" class="gbtn btn-outline-secondary">Player History</button>
					<button type="button" class="gbtn btn-outline-secondary">Deck</button>
					
					
				</div>
				<div class ="col-md">
					<div class="div3">
					<br>
					<h6>Game History</h6>

					</div>
					
				</div>
			</div>
			
		</div>

		
		
				
