<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Werewolf Escape</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
			
	<style>
	table{
		width: 100%;
	}
	td, th {
		
    	text-align: center;
		vertical-align: top;
    	padding: 8px;
		width: 25%;
		font-weight: normal;
	}
	</style>
  </head>
  <body>
		<div class="container">
			<h3 class="title">Player [number]</h3>
			<hr>
			<p>You are a <strong>[role]</strong> </p>
			<hr>
		</div>

		<table>
			<tr>
				<th>
					<h4>Chat</h4>
				</th>
				<th style = "width: 50%">
					<h4>Map</h4>
				</th>
				<th>
					<h4>Game Items</h4>
					<button type="button" class="gbtn btn-outline-secondary">Cards</button><br>
					<button type="button" class="gbtn btn-outline-secondary">Deck</button><br>
					<button type="button" class="gbtn btn-outline-secondary">History</button><br>
				</th>
			</tr>
		</table>

		<div class="container">
			<hr>
			<h3>Game History</h3>
			<hr>
		</div>

	</body>
		
		
				
