
<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
          <h1 class="title">Werewolf Escape</h1>
          <hr>
          <form id="create-game">
              <input type="text" id="player-name" name="playerName" placeholder="Enter your name">

              <div class="button-container">
                <button type="button" class="btn btn-outline-secondary">Create</button>
                <button type="button" class="btn btn-outline-secondary">Back</button>
              </div>
          </form>
          <form id="join-game">
              <input autocorrect="off" autocapitalize="off" type="text" id="access-code" name="accessCode" placeholder="Enter an access code">
              <input style="margin-top: 1em" type="text" id="player-name" name="playerName" placeholder="Enter your name">

              <div class="button-container">
                <button type="button" class="btn btn-outline-secondary">Join</button>
                <button type="button" class="btn btn-outline-secondary">Back</button>
              </div>
          </form>
          <div id="game-btn">
            <button type="button" class="btn btn-outline-secondary">Create Game</button>
            <button type="button" class="btn btn-outline-secondary">Join Game</button>
          </div>
          <hr>
    </div>
  </body>
</html>