<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>map</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>	
	</head>
  <body>
	<div id = "row1" class="box-container">
		<div class="empty"></div>
		<div class="empty"></div>
		<div class="grass"></div>
		<div class="grass"></div>
		<div class="empty"></div>
		<div class="empty"></div>
		<div class="empty"></div>
	</div><div id = "row2" class="box-container">
		<div class="no-block"></div>
		<div class="empty"></div>
		<div class="grass"></div>
		<div class="pod"></div>
		<div class="grass"></div>
		<div class="road"></div>
		<div class="empty"></div>
		<div class="no-block"></div>
	</div><div id = "row3" class="box-container">
		<div class="empty"></div>
		<div class="empty"></div>
		<div class="grass"></div>
		<div class="grass"></div>
		<div class="empty"></div>
		<div class="grass"></div>
		<div class="empty"></div>
	</div><div id = "row4" class="box-container">
		<div class="no-block"></div>
		<div class="empty"></div>
		<div class="empty"></div>
		<div class="road"></div>
		<div class="empty"></div>
		<div class="empty"></div>
		<div class="grass"></div>
		<div class="no-block"></div>
	</div><div id = "row5" class="box-container">
		<div class="pod"></div>
		<div class="grass"></div>
		<div class="road"></div>
		<div class="grass"></div>
		<div class="grass"></div>
		<div class="empty"></div>
		<div class="road"></div>
	</div><div id = "row6" class="box-container">
		<div class="no-block"></div>
		<div class="grass"></div>
		<div class="werewolf"></div>
		<div class="grass"></div>
		<div class="human"></div>
		<div class="grass"></div>
		<div class="road"></div>
		<div class="no-block"></div>
	</div><div id = "row7" class="box-container">
		<div class="pod"></div>
		<div class="grass"></div>
		<div class="road"></div>
		<div class="grass"></div>
		<div class="grass"></div>
		<div class="empty"></div>
		<div class="road"></div>
	</div><div id = "row8" class="box-container">
		<div class="no-block"></div>
		<div class="empty"></div>
		<div class="empty"></div>
		<div class="road"></div>
		<div class="empty"></div>
		<div class="empty"></div>
		<div class="grass"></div>
		<div class="no-block"></div>
	</div><div id = "row9" class="box-container">
		<div class="empty"></div>
		<div class="empty"></div>
		<div class="grass"></div>
		<div class="grass"></div>
		<div class="empty"></div>
		<div class="grass"></div>
		<div class="empty"></div>
	</div><div id = "row10" class="box-container">
		<div class="no-block"></div>
		<div class="empty"></div>
		<div class="grass"></div>
		<div class="pod"></div>
		<div class="grass"></div>
		<div class="road"></div>
		<div class="empty"></div>
		<div class="no-block"></div>
	</div><div id = "row11" class="box-container">
		<div class="empty"></div>
		<div class="empty"></div>
		<div class="grass"></div>
		<div class="grass"></div>
		<div class="empty"></div>
		<div class="empty"></div>
		<div class="empty"></div>
	</div>
  </body>

		
		
				
