<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>map</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>	
	</head>
  <body>
	<div id = "row1" class="box-container">
		<div class="empty" 		id="A1"></div>
		<div class="road"	 	id="A2">A2</div>
		<div class="grass"	 	id="A3">A3</div>
		<div class="empty"		id="A4"></div>
		<div class="grass"	 	id="A5">A5</div>
		<div class="road"	 	id="A6">A6</div>
		<div class="empty"	 	id="A7"></div>
	</div><div id = "row2" class="box-container">
		<div class="no-block"></div>
		<div class="pod"	 	id="B1">1</div>
		<div class="empty" 		id="B2"></div>
		<div class="road" 		id="B3">B3</div>
		<div class="road" 		id="B4">B4</div>
		<div class="empty" 		id="B5"></div>
		<div class="road" 		id="B6">B6</div>
		<div class="no-block"></div>
	</div><div id = "row3" class="box-container">
		<div class="empty"	 	id="C1"></div>
		<div class="empty" 		id="C2"></div>
		<div class="grass" 		id="C3">C3</div>
		<div class="grass" 		id="C4">C4</div>
		<div class="grass" 		id="C5">C5</div>
		<div class="grass" 		id="C6">C6</div>
		<div class="empty" 		id="C7"></div>
	</div><div id = "row4" class="box-container">
		<div class="no-block"></div>
		<div class="road" 		id="D1">D1</div>
		<div class="grass" 		id="D2">D2</div>
		<div class="empty" 		id="D3"></div>
		<div class="road" 		id="D4">D4</div>
		<div class="empty" 		id="D5"></div>
		<div class="grass" 		id="D6">D6</div>
		<div class="no-block"></div>
	</div><div id = "row5" class="box-container">
		<div class="empty" 		id="E1"></div>
		<div class="grass" 		id="E2">E2</div>
		<div class="road" 		id="E3">E3</div>
		<div class="grass" 		id="E4">E4</div>
		<div class="grass" 		id="E5">E5</div>
		<div class="road" 		id="E6">E6</div>
		<div class="grass" 		id="E7">E7</div>
	</div><div id = "row6" class="box-container">
		<div class="no-block"></div>
		<div class="werewolf"	id="F1"></div>
		<div class="road"		id="F2">F2</div>
		<div class="pod"		id="F3">2</div>
		<div class="road"		id="F4">F4</div>
		<div class="empty" 		id="F5"></div>
		<div class="human">		</div>
		<div class="no-block"></div>
	</div><div id = "row7" class="box-container">
		<div class="empty"></div>
		<div class="grass"		id="G2">G2</div>
		<div class="road" 		id="G3">G3</div>
		<div class="grass" 		id="G4">G4</div>
		<div class="grass"		id="G5">G5</div>
		<div class="road"		id="G6">G6</div>
		<div class="grass"		id="G7">G7</div>
	</div><div id = "row8" class="box-container">
		<div class="no-block"	></div>
		<div class="road"		id="H1">H1</div>
		<div class="grass"		id="H2">H2</div>
		<div class="empty"></div>
		<div class="road"		id="H4">H4</div>
		<div class="empty"></div>
		<div class="grass"		id="H6">H6</div>
		<div class="no-block"></div>
	</div><div id = "row9" class="box-container">
		<div class="empty"></div>
		<div class="empty"></div>
		<div class="grass"		id="G3">G3</div>
		<div class="grass"		id="G4">G4</div>
		<div class="grass"		id="G5">G5</div>
		<div class="grass"		id="G6">G6</div>
		<div class="empty"></div>
	</div><div id = "row10" class="box-container">
		<div class="no-block"></div>
		<div class="pod"		id="H1">3</div>
		<div class="empty"></div>
		<div class="road"		id="H3">H3</div>
		<div class="road"		id="H4">H4</div>
		<div class="empty"></div>
		<div class="grass"		id="H6">H6</div>
		<div class="no-block"></div>
	</div><div id = "row11" class="box-container">
		<div class="empty"		id="I1"></div>
		<div class="road"		id="I2">I2</div>
		<div class="grass"		id="I3">I3</div>
		<div class="empty"		id="I4"></div>
		<div class="grass"		id="I5">I5</div>
		<div class="road"		id="I6">I6</div>
		<div class="empty"></div>
	</div>
  </body>

		
		
				
