html{
	width: 100%;
	height: 100%;
}

body {
	background-color: white;
	color: #555;
	width: 100%;
	height: 100%;

}
.container{
	width: 40em;
	margin: 5em auto;
	text-align: center;
	top: 50%;
}

.main-container{
	width: 100%;
	height: 100%;
	padding: 2%;
	text-align: center;
	max-height: 200em;
}

.col-lg,
.col-lg-6{
	margin-top: 2%;
	margin-bottom: 2%;
}

.row{
	height: 100%;
}

.container .title{
	display: block;
	font-weight: normal;
}

hr{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

.btn{
	margin: 0.2em;
    padding: 0.8em 2.5em;
    font-size: 1.5em;
    border-radius: 10px;
    border: 1px solid #bbb;
}

.gbtn{
	margin: 0.2em;
    padding: 0.8em 2.5em;
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid #bbb;
}

#map-list, #dynamic-list {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    list-style: none;
    padding: 0;
}

#map-item{
    border: 1px solid #E1E1E1;
    padding: 0.5em;
    margin: 5px;
    border-radius: 6px;
    list-style-type: none;
}

#map-item > label{
    margin-bottom: 0;
}

footer{
    padding-top: 1.5em;
}

#maps {
    border-left: 1px solid #E1E1E1
}

#map-form {
    padding: 1em;
}

#create-game .btn,
#join-game .btn{
	padding: 0.5em 1.5em;
	margin: 1em 0.2em 0 0.2em;
}

#join-game input,
#create-game input{
	width: 65%;
	padding: 1em;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1.3em;
}

input[type=radio]{
    vertical-align: top;
    margin-top: 3.2px;
}

/* .playerinfo{
	border: 1px solid #bbb;
} */

@media (max-width: 992px){
	body{
		overflow: scroll;
	}
	.col-lg,
	.col-lg-6{
		min-height: 33em;
	}
}

.box-container{
    width: 3em;
    display: inline-block;
    margin-right: -13px;
    padding: 3px;
}

.empty{
    position: relative;
    height: 35px; 
    width: 21.21px;
    border-top:1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    float: left;
    margin-left: 8.66px;
}

.no-block{
    position: relative;
    height: 17.5px; 
    width: 21.21px;
    border-top:1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    float: left;
    margin-left: 8.66px;
}

.road, .pod, .grass, .human, .werewolf {
    position: relative;
    height: 35px; 
    width: 23px;
    border-top:1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    line-height: 35px;
    float: left;
    margin-left: 8.66px;
    cursor: pointer;
}

.road:before, .pod:before, .grass:before, .human:before, .werewolf:before, 
.road:after, .pod:after, .grass:after, .human:after, .werewolf:after {
    content: "";
    float: left;
    position: absolute;
    width: 0;
    border-top: 16.5px solid transparent;
    border-bottom: 16.5px solid transparent;
}
  
.road{
    background-color:#bbb;
}  

.road:before{
    border-right: 10.10px solid #bbb
}

.road:after{
    border-left: 10.10px solid #bbb
}

.grass{
    background-color: rgb(81, 175, 105);
}

.grass:before{
    border-right: 10.10px solid rgb(81, 175, 105);
}

.grass:after{
    border-left: 10.10px solid rgb(81, 175, 105);
}

.pod{
    background-color: orange;
    color: white;
    font-weight: bold;
}

.pod:before{
    border-right: 10.10px solid orange;
}

.pod:after{
    border-left: 10.10px solid orange;
}

.human{
    background-color: blue;
}

.human:before{
    border-right: 10.10px solid blue;
}

.human:after{
    border-left: 10.10px solid blue;
}

.werewolf{
    background-color: red;
}

.werewolf:after{
    border-left: 10.10px solid red;
}

.werewolf:before{
    border-right: 10.10px solid red;
}

.road:before, .pod:before, .grass:before, .human:before, .werewolf:before  {
    right: 100%;
}
  
.road:after, .pod:after, .grass:after, .human:after, .werewolf:after  {
    left: 100%;
}

ul#dynamic-list input[type="radio"]{
    margin-right: 0.3em;
}

ul#dynamic-list {
    text-align: left;
}

ul#dynamic-list li{
    padding-left: 1em;
}

#kickBtn, #playBtn{
    bottom: 0;
}

.hidden{
    display: none !important;
}